body {
  margin: 0;
  padding: 0;
  font: 12pt/14pt 'Pragmatica';
}
.column,
#resize-handle,
.line {
  height: 100%;
}
.menu_block {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #000;
  text-align: center;
}
.menu_block .menu_group {
  height: 40px;
  position: absolute;
  top: 0;
}
.menu_block .menu_group.left {
  left: 0;
}
.menu_block .menu_group.right {
  right: 0;
  border-left: 1px solid #000;
}
.menu_block .menu_group .menu_item {
  width: 70px;
  height: 40px;
  font-size: 20px;
  float: left;
  border-right: 1px solid #000;
  cursor: default;
}
.menu_block .menu_group .menu_item.stat:before {
  content: '';
  position: absolute;
  margin-left: -0.75em;
  top: 13px;
  width: 1.5em;
  height: 0.1em;
  background: #000;
  box-shadow: 0 0.35em 0 0 #000, 0 0.7em 0 0 #000;
}
.menu_block .menu_group .menu_item.stat:hover,
.menu_block .menu_group .menu_item.stat.open {
  background-color: #ebbe55;
}
.menu_block .menu_group .menu_item.authors:before {
  content: 'A';
  padding-top: 13px;
  display: block;
}
.menu_block .menu_group .menu_item.authors:hover,
.menu_block .menu_group .menu_item.authors.open {
  background-color: #83c1d8;
}
.menu_block .menu_navigate {
  display: inline-block;
  font-size: 0;
  height: 40px;
  padding-top: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.menu_block .menu_navigate span {
  font-size: 12pt;
}
.menu_block .menu_navigate .separator {
  margin-left: 8px;
  margin-right: 8px;
}
.menu_block .menu_navigate:hover {
  color: #808080;
}
.content_block {
  width: 1280px;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 50%;
  margin-left: -640px;
}
.content_block.resize_act {
  -webkit-user-select: none;
}
.column {
  width: 640px;
  float: left;
  overflow: scroll;
}
.column .column_inner {
  padding-top: 100px;
  padding-bottom: 60px;
  position: relative;
}
.column .column_inner .drop_navigate {
  width: 198px;
  margin-bottom: 40px;
}
.column.left .logo {
  position: absolute;
  top: 20px;
  width: 105px;
  display: block;
}
.column.left .column_inner {
  margin-right: 15px;
}
.column.left .column_inner .drop_navigate {
  float: right;
}
.column.right .column_inner {
  margin-left: 15px;
}
.column.right .column_inner p {
  -webkit-hyphens: auto;
}
#resize-handle {
  position: absolute;
  -webkit-transform: translate(640px);
  transform: translate(640px);
  left: -11px;
  top: 0;
  width: 21px;
  cursor: ew-resize;
}
#resize-handle .line {
  width: 1px;
  margin: 0 auto;
  background-color: #000;
}
.panels_block .panel {
  position: absolute;
  width: 100%;
  z-index: 99999999;
  top: 41px;
  max-height: 0;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}
.panels_block .panel.authors {
  background-color: #83c1d8;
  overflow: scroll;
}
.panels_block .panel.authors.open {
  -webkit-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
  max-height: 480px;
}
.panels_block .panel.authors .authors_inner {
  width: 1280px;
  margin: 0 auto;
  margin-top: 20px;
}
.panels_block .panel.authors .author_item {
  margin-bottom: 20px;
  width: 625px;
  border-top: 1px solid #000;
  box-sizing: border-box;
}
.panels_block .panel.authors .author_item:nth-child(odd) {
  float: left;
}
.panels_block .panel.authors .author_item:nth-child(even) {
  float: right;
}
.panels_block .panel.authors .author_item .author_title {
  overflow: hidden;
  margin-bottom: 10px;
  padding-top: 5px;
}
.panels_block .panel.authors .author_item .author_title .title_location {
  float: left;
  font: 10pt/14pt 'Pragmatica';
}
.panels_block .panel.authors .author_item .author_title .title_name {
  float: left;
  margin-left: 75px;
}
.panels_block .panel.authors .author_item .author_title .title_rating {
  float: right;
  border: 1px solid #000;
  padding-left: 5px;
  padding-right: 5px;
  font: 10pt/12pt 'Pragmatica';
  cursor: default;
}
.panels_block .panel.authors .author_item .author_title .title_rating:hover {
  background-color: #000;
  color: #2990e7;
}
.panels_block .panel.authors .author_item .author_body {
  overflow: hidden;
}
.panels_block .panel.authors .author_item .author_body .body_column {
  float: left;
}
.panels_block .panel.authors .author_item .author_body .body_column.left {
  width: 120px;
}
.panels_block .panel.authors .author_item .author_body .body_column.left .body_photo {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #d3d3d3;
  box-sizing: border-box;
}
.panels_block .panel.authors .author_item .author_body .body_column.left .body_langs {
  margin-top: 10px;
  font: 10pt/14pt 'Pragmatica';
}
.panels_block .panel.authors .author_item .author_body .body_column.left .body_subs {
  font: 10pt/14pt 'Pragmatica';
}
.panels_block .panel.authors .author_item .author_body .body_column.right {
  padding-left: 45px;
  box-sizing: border-box;
  width: 505px;
}
.panels_block .panel.stat {
  overflow: scroll;
  background-color: #ebbe55;
}
.panels_block .panel.stat.open {
  -webkit-transition: max-height 0.3s ease-in;
  transition: max-height 0.3s ease-in;
  max-height: 520px !important;
}
.panels_block .panel.stat .stat_courses {
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
}
.panels_block .panel.stat .stat_courses circle.scale {
  stroke: #ebbe55 !important;
}
.panels_block .panel.stat .stat_body {
  width: 1280px;
  margin: 0 auto;
}
.panels_block .panel.stat .stat_body .stat_title {
  font: 22pt/24pt 'Pragmatica';
  margin-top: 15px;
  margin-bottom: 15px;
}
.panels_block .panel.stat .stat_body .stat_lessons {
  overflow: hidden;
}
.panels_block .panel.stat .stat_body .stat_lessons .stat_lesson {
  float: left;
  margin-bottom: 30px;
  margin-right: 80px;
}
.panels_block .panel.stat .stat_body .stat_lessons .stat_lesson .stat_lesson_title {
  margin-top: 15px;
  font: 16pt/18pt 'Pragmatica';
}
.panels_block .panel.stat .stat_body .stat_lessons .stat_lesson .stat_lesson_blocks .stat_lesson_block .stat_block_title {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}
.panels_block .panel.stat .stat_body .stat_lessons .stat_lesson .stat_lesson_blocks .stat_lesson_block .stat_block_exercises .stat_exercise {
  margin-bottom: 8px;
}
.panels_block .panel.stat .stat_body .stat_lessons .stat_lesson .stat_lesson_blocks .stat_lesson_block .stat_block_exercises .stat_exercise .stat_exercise_title {
  margin-top: 5px;
  margin-bottom: 5px;
}
.panels_block .panel.stat .stat_body .stat_lessons .stat_lesson .stat_lesson_blocks .stat_lesson_block .stat_block_exercises .stat_exercise .stat_exercise_metricks {
  margin-top: 5px;
  overflow: hidden;
}
.panels_block .panel.stat .stat_body .stat_lessons .stat_lesson .stat_lesson_blocks .stat_lesson_block .stat_block_exercises .stat_exercise .stat_exercise_metricks .metrick_item {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 1px solid #000;
}
.panels_block .panel.stat .stat_body .stat_lessons .stat_lesson .stat_lesson_blocks .stat_lesson_block .stat_block_exercises .stat_exercise .stat_exercise_metricks .metrick_item.cool {
  background-color: #000;
}
